{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>

    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--style-->
    <style>
  .card {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),
               0 6px 20px 0 rgba(0,0,0,0.39);
   background: GhostWhite;
   border-radius: 25px;
   padding : 2%;
   text-overflow: ellipsis;
   margin: 0 20% 0% 20%;
  }

  .links{
  text-decoration: none;
  color: inherit;
  }



    </style>

</head>

<center>
    <h1><i>Расписание</i></h1>
    <hr/>
</center>
    <div class="card">
        {{response|safe}}
        <div style="margin-top: 2%">
            <button type="button" class="btn btn-primary">
                <a class="links" href="{% url 'todo_page' %}">Ежедневник</a>
            </button>
        </div>
    </div>
</body>

</html>